<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books!</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Eric's Favorite Books</h1>
    <ol>
        {%for i in range(0, length)%}
            <div style="display:grid; grid-template-columns:2fr 2fr; column-gap:100px;">
                <div style="grid-column:1">
                    {%if books[i] == "Goosebumps"%}
                        <li class="fave">{{books[i]}}</li>
                    {%else%}
                        <li>{{books[i]}}</li>
                    {%endif%}
                </div>
                <div style="grid-column:2">
                    <img src={{images[i]}} width=400 height=400/>
                </div>
            </div>
        {%endfor%} 
    </ol>
</body>
</html>